<!doctype html>
<html>
<head>
    <title>Profile - Apollo</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <% include ./partials/resources %>
</head>
<body class="account-page">
    <% include ./partials/header %>
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-sm-8 col-sm-offset-1 col-md-5">
                <h1 class="profile-page-header"><%= copy.title %></h1>
                <% if (typeof copy.subTitle !== 'undefined') { %>
                    <h2 class="profile-page-subheader"><%= copy.subTitle %></h2>
                <% } %>
                <% if (showSubscribeButton === true) { %>
                    <a class="button button_valencia button_sm" href="/subscription">Buy a subscription</a>
                <% } %>
                <% if (cancelAtPeriodEnd === true) { %>
                    <form action="/renew-cancelled-subscription" method="post">
                        <button type="submit" class="button button_valencia button_sm">renew subscribtion</button>
                    </form>
                <% } %>
                <div class="profile-info">
                    <div class="profile-info-item">
                        <label><%= email %></label>
                        <div><a href="/reset-password">change password</a></div>
                    </div>
                </div>
                <% if (showSubscriptionSection === true) { %>
                    <div class="profile-info-item">
                        <label>Next Charge:</label>
                        <span><%= nextPaymentDate %></span>
                    </div>
                    <div class="profile-info-item">
                        <label>
                            Payment method:
                            <% if (typeof maskedLast4 !== 'undefined') { %>
                                <span><%= maskedLast4 %></span>
                            <% } %>
                        </label>
                        <div><a href="/change-payment">change</a></div>
                    </div>
                    <a class="button button_valencia button_sm" href="/cancel-subscription">cancel subscription</a>
                <% } %>
            </div>
        </div>
    </div>
    <% include ./partials/footer %>
</body>
</html>
