<!doctype html>
<html>
<head>
    <title>Profile - Apollo</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <% include ./partials/resources %>
</head>
<body class="page-full-bg bg-top profile-page">
    <% include ./partials/header %>
    <div class="page-container">
        <div class="container col-sm-6 col-sm-offset-3 col-md-4 col-md-offset-1">
            <% if (trialPeriodRemaining > 0) { %>
                <h1><%= trialPeriodRemaining %> days left in your free trial</h1>
                <a class="btn btn-primary btn-lg" href="/subscription">Buy a subscription</a>
            <% } else if (accountStatus === 'trialExpired') { %>
                <h1><%= subscriptionDisplayName %></h1>
                <a class="btn btn-primary btn-lg" href="/subscription">Buy a subscription</a>
            <% } else if (accountStatus === 'cancelled') { %>
                <h1><%= subscriptionDisplayName %></h1>
                <a class="btn btn-primary btn-lg" href="/subscription">Buy a subscription</a>
            <% } else if (accountStatus === 'active') { %>
                <h1><%= subscriptionDisplayName %></h1>
            <% } else { %>
                <h1>Hmm... </h1>
                <a class="btn btn-primary btn-lg" href="/subscription">Buy a subscription</a>
            <% } %>
            <div class="profile-info">
                <div class="profile-info-item">
                    <label>Email:</label>
                    <div><%=user.local.email %></div>
                </div>
                <div class="profile-info-item">
                    <label>Subscription:</label>
                    <div><%=subscriptionDisplayName %></div>
                </div>
                <% if (accountStatus === 'active') { %>
                    <div class="profile-info-item">
                        <a class="btn btn-sm btn-danger" href="/cancel-subscription">cancel subscription</a>
                    </div>
                <% } %>
                <div class="profile-info-item">
                    <a href="/reset-password">(reset password)</a>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
